@page "/"

<h1>PokeTyper</h1>

<p>PokeTyper is a Pokemon <b>fan-made</b> website where you can explore the different types and type combinations of Pokemon.</p>

<p>There are two pages in this website:</p>
<ul>
    <li><a href="/types">Types</a> - Tells you the resistances and weaknesses of any Pokemon type or type combination.</li>
    <li><a href="/coverage">Coverage</a> - Tells you which types are "covered by", or weak to, a particular Pokemon move set.</li>
</ul>
